# Build Artifacts
dist/
*.deb
*.changes
*.buildinfo
bzImage
kernel.config

# Build Directories
build_*/
linux-*/
output/
build-workspace/

# user-specific files
#$params/params.d/        # User customizations
#onfigs/configs.d/      # User customizations
#scripts/scripts.d/      # User customizations

# Temporary Files
params/*.tmp
var/
*.config.old
*.patch
*.orig
*.rej
*~
*.swp
*.swo

# Docker
.dockerignore

# IDE and Editor Files
.scratch/
.vscode/
.idea/
*.iml

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Environment
.env
.env.local

# Test Scripts (local only)
.tests/

#trivy
trivy.yaml

#scans
*pre-push