# 5800X3D Identity
CONFIG_MZEN3=y
CONFIG_64BIT=y

# Wine Performance
CONFIG_WINE_NTSYNC=y
CONFIG_PREEMPT=y

# Required for Debian Packaging to not explode
CONFIG_NET=y
CONFIG_BLOCK=y
CONFIG_BINFMT_ELF=y
CONFIG_TTY=y

# Enable Serial Console (The "Voice" of the kernel)
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_NR_UARTS=4
CONFIG_SERIAL_8250_RUNTIME_UARTS=4
CONFIG_TTY=y

# Support for QEMU/Modern Hardware communication
CONFIG_PCI=y
CONFIG_X86_64_SMP=y